* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
  }

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}
