.history-container {
    width: 100%;
}

table {
    width: 100%;
}

th {
    text-align: left;
    
}

.sorting-container {
    display: grid;
}

.sorting-icon:hover {
    cursor: pointer;
    color: gray;
}
