.history-container {
    width: 75vw;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-container span {
    font-size: 1.6rem;
    padding-right: 0.2rem;
}

.sorting-container {
    display: grid;
}

.sorting-icon:hover {
    cursor: pointer;
    color: gray;
}
