:root {
    --card-color: #151419;
    --transfer-color: #eeeeee;
  }

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80vw;
    height: 100vh;
    padding: 4% 5%;
    margin-left: 20vw;
    overflow-x: hidden;
}

.card-transfer {
    display: flex;
    flex-direction: column;
    width: 24vw;
    margin: 0;
}

.chart-transactions {
    width: 36vw;
}

.last-transactions, .transfer {
    display: flex;
}

.card-info {
    display: flex;
    flex-direction: column;
}

.card {
    width: 300px;
    height: 200px;
    background-color: var(--card-color);
    color: #eeeeee;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 26px;
}

.debit-chip {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.debit {
    font-size: 20px;
}

.chip {
    position: relative;
    top: -10px;
}

.balance {
    font-size: 26px;
    margin-bottom: 20px;
}

.name-number {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cardNumber {
    align-self: end;
}

.accountName {
    text-transform: uppercase;
}

.activated {
    align-self: end;
    justify-self: end;
}

.lastTransaction {
    display: flex;
    justify-content: space-between;
    margin: 0.3rem 0 0;
    padding: 0.7rem 0.6rem;
}

.greenred {
    text-shadow: 0px 0px 1px;
}

.transfer, .last-transactions {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
}

.transfer form {
    display: flex;
    align-items: center;
}

.labell {
    width: 50%;
    max-width: 280px;
    margin-right: 1.2rem;
}

.transfer input {
    width: 100%;
    border: 0;
    font-family: inherit;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    background: none;
    border-radius: 15px;
    background-color: var(--transfer-color);
    padding: 0 15px;
    color: #223254;
    transition: all .15s ease;
}

.transfer input::placeholder {
    color: #777777;
}

.transfer input:focus {
    outline: none;
}

.transfer button {
    border: none;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background-color: var(--card-color);
    color: white;
    font-size: 18px;
    border-radius: 6px;
}

.transfer button:hover {
    cursor: pointer;
    background-color: #333333;
    transition: 0.3s;
}

.error {
    margin-top: 16px;
}

.line {
    min-height: 200px;
}

.footer {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

@media (max-width: 1400px) {
    main {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: unset;
    }
    .card-transfer {
        flex-direction: row;
        width: 100%;
    }
    
    .card-info, .transfer {
        padding: 0;
    }

    .transfer { padding-left: 6%;}

    .chart-transactions {
        width: 100%;
        margin-top: 6%;
    }

    .chart {

    }
}
