main {
    display: flex;
    flex-wrap: wrap;
    width: 75vw;
    padding: 4% 5%;
}

.card-info, .last-transactions {
    flex-basis: 50%;
    display: flex;
}

.card-info {
    display: flex;
    flex-direction: column;
}

.card {
    width: 300px;
    height: 200px;
    background-color: black;
    color: #eeeeee;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 26px;
}

.debit-chip {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.debit {
    font-size: 20px;
}

.chip {
    position: relative;
    top: -10px;
}

.balance {
    font-size: 26px;
    margin-bottom: 20px;
}

.name-number {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cardNumber {
    align-self: end;
}

.accountName {
    text-transform: uppercase;
}

.activated {
    align-self: end;
    justify-self: end;
}

.last-transactions {
    display: flex;
    flex-direction: column;
}

.lastTransaction {
    display: flex;
    justify-content: space-between;
}

.greenred {
    text-shadow: 0px 0px 1px;
}

.transfer {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

.transfer form {
    display: flex;
    align-items: center;
}

.labell {
    width: 100%;
    max-width: 280px;
    margin-right: 1.2rem;
}

.transfer input {
    width: 100%;
    border: 0;
    font-family: inherit;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    background: none;
    border-radius: 15px;
    background-color: #eeeeee;
    padding: 0 15px;
    color: #223254;
    transition: all .15s ease;
}

.transfer input::placeholder {
    color: #777777;
}

.transfer input:focus {
    outline: none;
}

.transfer button {
    border: none;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background-color: black;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}

.transfer button:hover {
    cursor: pointer;
    background-color: #111111;
    transition: 0.3s;
}
